
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0 }">

 <table style="width: 100%;">
    <tr>
      <td>
        <h4>{{ post.title }}</h4>
      </td>
      <td  class="pull-right" >{{post.created_at | date : 'short'}}</td>
    </tr>
  </table>
  <output style="white-space: pre-line;" >{{post.content}}</output>
  <table>
    <tr>
      <td>
        <button class="btn btn-success" (click)="onLoveIt(true)">Love it</button> 
      </td>
      <td >
        <button class="btn btn-danger" (click)="onLoveIt(false)">Don't love it</button> 
      </td>
    </tr>
  </table>
 
</li>
