<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Dernière mise à jour {{lastUpdate | async | date: 'short' | uppercase}} </p>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i = index"
       [appareilName]="appareil.name" [appareilStatus]="appareil.status" [id] = "appareil.id"
       [index]="i" >
    </app-appareil>
    
  </ul>
  <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button> 
  <button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
</div>